@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&family=Open+Sans:wght@400;700&display=swap');

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: "Open Sans", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-top: 40px;
  height: 100vh;
  /* padding: 10px 10px 40px 10px; */
}
.main .icon {
  width: 91px;
  align-items: center;
}
.main p, .main ul, .main li{
  color: #fff;
}
.main p{
  margin: 0px;
  margin-bottom: 16px;
}
.main h3 {
  font-size: 45px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  margin: 32px 0 16px;
  font-family: "Lexend Deca", Helvetica, sans-serif;
}
.belowFold h4, .main h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  margin: 16px 0 40px;
  font-family: "Lexend Deca", Helvetica, sans-serif;
  text-align: center;
}
.main .instructions {
  font-size: 12px;
  text-align: left;
  width: 320px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 8px;
}
.main ::placeholder {
  color: #000;
  opacity: 0.4;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #5333ED;
  background-color: #50FFD7;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.main input[type="submit"]:hover {
  background-color: #9fffe9;
}
.main .result {
  /* margin-top: 24px;
  width: 320px;
  background-color: #ffffff10;
  border-radius: 4px;
  width: 320px; */
}

.main .resultInterior {
  padding: 16px;
}

.belowFold a, .footer a, .main a{
  color: #50FFD7;
}
.belowFold a:hover, .footer a:hover, .main a:hover{
  color: #fff;
}

.belowFold {
  padding: 24px;
  background-color: #492dd3;
  margin: -8px;
}

.belowFoldContent {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .belowFoldContent {
    width: 100%;
  }
}

.footer {
  padding: 12px;
  background-color: #000;
  margin: -8px;
}

.footerContent {
  text-align: center;
  width: 100%;
}

.belowFold summary {
  font-size: 18px;
  font-weight: bold;
  color: #9fffe9;
  font-family: "Lexend Deca", Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #4027ba;
  padding: 6px;
  border-radius: 4px;
 }

 .belowFold summary:hover{
  color: #fff;
  cursor: pointer;
 }

 .belowFold details {
  background-color: #4027ba;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 12px;
 }

.belowFold p, .footer p{
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}

.footer p{
  font-size: 12px;
}
